body {
  font-family: lato;
}
.main-container {
  width: 1000px;
  height: 900px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.main-container p {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 36px;
  margin: 0;
  color: rgb(22, 160, 133);
}


.logo,
.start-btn {
  border: 14px solid rgba(22, 160, 133,1.0);
  background-color: rgba(46,204,113, 0.4);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  font-weight: bold;
}

.start-btn {
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(22, 160, 133);
  height: 50px;
  font-weight: normal;
}

.button-container a {
  text-decoration: none;
}

.instruction-container {
  /*border: 1px solid black;
  border-radius: 5px;*/
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 28px;
  color: #4b77be;
  line-height: 75px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.copyright{
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
}

.hovered:hover {
  background-color: rgba(17, 51, 167, 0.9);
  color: white;
  transform: scale(1.5,1.5);
  z-index: 1;
  position: relative;
  transition: 0.3s;
  /*margin-left: 34px;*/
  border: none;
  /*transform: rotate(360deg);*/
}
