/*
colors:
----------
green: #27ae60;
yellow(alkali): #f1c40f;
carrot(alkaline): #e67e22;
skin(trans-metals): #f09188;
amethyest(actinoids): #9b59b6;
skin(lathanoids): #eb685a;
fountain blue(post-trans metals): #5c97bf;
shakespear(metalloids): #52b3d9;
shamrock(other-non metals): #2ecc71;
dodger blue(halogens): #19b5fe;
steel blue(nobel gases): #4b77be;
*/

/*------------------*/
/*--- CONTAINERS ---*/
/*------------------*/
.main-container {
  margin: 20px 40px 40px 10px;
  height: 550px;
  padding: 10px;
}

.elem-sqr,
.alkaline,
.trans-metals,
.actinoid,
.actinoid-row,
.lathanoid,
.lathanoid-row,
.post-trans,
.metalloids,
.other-non,
.halogens,
.nobel {
  width: 70px;
  height: 70px;
  border: 1px solid #27ae60;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: lato;
  font-size: 18px;
  font-weight: bold;
  background-color: #27ae60;
  margin-bottom: 2px;
}


.alkaline-container {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 182px;
  left: 92px;
}

.trans-container {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 182px;
  left: 167px;
}

.trans-container-one {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 182px;
  left: 242px;
}

.trans-container-two {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 182px;
  left: 317px;
}

.trans-container-three {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 182px;
  left: 392px;
}

.trans-container-four {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 182px;
  left: 467px;
}

.trans-container-five {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 182px;
  left: 542px;
}

.trans-container-six {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 182px;
  left: 617px;
}

.trans-container-seven {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 182px;
  left: 692px;
}

.trans-container-eight {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 182px;
  left: 767px;
}
.trans-container-nine {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 182px;
  left: 842px;
}

.post-trans-container {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 182px;
  left: 917px;
}

.in-between-container {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 182px;
  left: 992px;
}

.in-between-two {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 182px;
  left: 1067px;
}

.in-between-three {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 182px;
  left: 1142px;
}

.halogen-container {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 182px;
  left: 1217px;
}

.nobel-container {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 182px;
  left: 1292px;
}
.lathanoid-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 46px;
  position: absolute;
  bottom: 20px;
  right: 66px;
}

.actinoid-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 46px;
  position: absolute;
  bottom: 80px;
  right: 66px;
}

/*---------------------*/
/*--- ELEMENT GROUP ---*/
/*---------------------*/
.alkali {
  background-color: #f1c40f;
  border: 1px solid #f1c40f;
}

.alkaline {
  background-color: #e67e22;
  border: 1px solid #e67e22;
}


.trans-metals {
  background-color: #f09188;
  border: 1px solid #f09188;
}
.actinoid {
  background-color: #9b59b6;
  border: 1px solid #9b59b6;
}
.actinoid-row {
  background-color: #9b59b6;
  border: 1px solid #9b59b6;
  margin-right: 5px;
  margin-bottom: 20px;
}

.lathanoid {
  background-color: #eb685a;
  border: 1px solid #eb685a;
}

.lathanoid-row {
  background-color: #eb685a;
  border: 1px solid #eb685a;
  margin-right: 5px;
}

.post-trans {
  background-color: #5c97bf;
  border: 1px solid #5c97bf;
}

.metalloids {
  background-color: #52b3d9;
  border: 1px solid #52b3d9;
}

.other-non {
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
}

.halogens {
  background-color: #19b5fe;
  border: 1px solid #19b5fe;
}

.nobel {
  background-color: #4b77be;
  border: 1px solid #4b77be;
}

/*-------------*/
/*--- HOVER ---*/
/*-------------*/
.hovered:hover {
  background-color: rgba(17, 51, 167, 0.9);
  color: white;
  transform: scale(1.5,1.5);
  z-index: 1;
  position: relative;
  transition: 0.5s;
  /*margin-left: 34px;*/
  border: none;
  /*transform: rotate(360deg);*/
}

.greyed-out {
  background-color: rgba(149, 165, 166,0.8);
}

/*--------------*/
/*--- PLAYER ---*/
/*--------------*/

.player-one {
  width: 300px;
  height: 90px;
  margin: 0;
  position: absolute;
  left: 200px;
  top: 135px;
  text-align: center;
}

.player-two {
  position: absolute;
  left: 580px;
  top: 135px;
  text-align: center;
 }


.player-one h1,
.player-two h1 {
  text-decoration: underline;
}

.player-one p,
.player-two {
  text-decoration: none;
  font-size: 19px;
}

/*--------------*/
/*---- TEXT ----*/
/*--------------*/

#scoreFirst,
#scoreSecond {
  font-size: 30px;
}
