/*
colors:
----------
green: #27ae60;
yellow(alkali): #f1c40f;
carrot(alkaline): #e67e22;
skin(trans-metals): #f09188;
amethyest(actinoids): #9b59b6;
skin(lathanoids): #eb685a;
fountain blue(post-trans metals): #5c97bf;
shakespear(metalloids): #52b3d9;
shamrock(other-non metals): #2ecc71;
dodger blue(halogens): #19b5fe;
steel blue(nobel gases): #4b77be;
*/

/*------------------*/
/*--- CONTAINERS ---*/
/*------------------*/
nav {
  width: 100%;
  height: 60px;
}

.main-container {
  margin: 20px 40px 40px 10px;
  height: 550px;
  padding: 10px;
}

.elem-sqr,
.alkaline,
.trans-metals,
.actinoid,
.actinoid-row,
.lathanoid,
.lathanoid-row,
.post-trans,
.metalloids,
.other-non,
.halogens,
.nobel {
  width: 70px;
  height: 70px;
  border: 1px solid #27ae60;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: lato;
  font-size: 18px;
  font-weight: bold;
  background-color: #27ae60;
  margin-bottom: 2px;
}

.alkaline-container,
.trans-container,
.trans-container-one,
.trans-container-two,
.trans-container-three,
.trans-container-four,
.trans-container-five,
.trans-container-six,
.trans-container-seven,
.trans-container-eight,
.trans-container-nine,
.post-trans-container,
.in-between-container,
.in-between-two,
.in-between-three,
.halogen-container,
.nobel-container,
.lathanoid-container,
.actinoid-container {
  width: 5.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-line-container {
  width: 5.5%;
  margin: 0 0 0 0;
  display: inline-block;

}

.alkaline-container {
  position: absolute;
  bottom: 182px;
  left: 92px;
}

.trans-container {
  position: absolute;
  bottom: 182px;
  left: 167px;
}

.trans-container-one {
  position: absolute;
  bottom: 182px;
  left: 242px;
}

.trans-container-two {
  position: absolute;
  bottom: 182px;
  left: 317px;
}

.trans-container-three {
  position: absolute;
  bottom: 182px;
  left: 392px;
}

.trans-container-four {
  position: absolute;
  bottom: 182px;
  left: 467px;
}

.trans-container-five {
  position: absolute;
  bottom: 182px;
  left: 542px;
}

.trans-container-six {
  position: absolute;
  bottom: 182px;
  left: 617px;
}

.trans-container-seven {
  position: absolute;
  bottom: 182px;
  left: 692px;
}

.trans-container-eight {
  position: absolute;
  bottom: 182px;
  left: 767px;
}
.trans-container-nine {
  position: absolute;
  bottom: 182px;
  left: 842px;
}

.post-trans-container {
  position: absolute;
  bottom: 182px;
  left: 917px;
}

.in-between-container {
  position: absolute;
  bottom: 182px;
  left: 992px;
}

.in-between-two {
  position: absolute;
  bottom: 182px;
  left: 1067px;
}

.in-between-three {
  position: absolute;
  bottom: 182px;
  left: 1142px;
}

.halogen-container {
  position: absolute;
  bottom: 182px;
  left: 1217px;
}

.nobel-container {
  position: absolute;
  bottom: 182px;
  left: 1292px;
}
.lathanoid-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 46px;
  position: absolute;
  bottom: 20px;
  right: 66px;
}

.actinoid-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 46px;
  position: absolute;
  bottom: 80px;
  right: 66px;
}

#dice-container {
  width: 80px;
  height: 80px;
  border: 1px solid #52b3d9;
  border-radius: 5px;
  font-size: 28px;
  font-weight: bold;
  padding-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #52b3d9;
}

/*--------------*/
/*---- DICE ----*/
/*--------------*/

#dice-wrapper {
  position: fixed;
  left: 680px;
  top: 170px;
}

#dice-wrapper button {
  margin-left: 4px;
  margin-top: 5px;
  background-color: #27ae60;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: white;
}

/*---------------------*/
/*--- ELEMENT GROUP ---*/
/*---------------------*/
.alkali {
  background-color: #f1c40f;
  border: 1px solid #f1c40f;
}

.alkaline {
  background-color: #e67e22;
  border: 1px solid #e67e22;
}


.trans-metals {
  background-color: #f09188;
  border: 1px solid #f09188;
}
.actinoid {
  background-color: #9b59b6;
  border: 1px solid #9b59b6;
}
.actinoid-row {
  background-color: #9b59b6;
  border: 1px solid #9b59b6;
  margin-right: 5px;
  margin-bottom: 20px;
}

.lathanoid {
  background-color: #eb685a;
  border: 1px solid #eb685a;
}

.lathanoid-row {
  background-color: #eb685a;
  border: 1px solid #eb685a;
  margin-right: 5px;
}

.post-trans {
  background-color: #5c97bf;
  border: 1px solid #5c97bf;
}

.metalloids {
  background-color: #52b3d9;
  border: 1px solid #52b3d9;
}

.other-non {
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
}

.halogens {
  background-color: #19b5fe;
  border: 1px solid #19b5fe;
}

.nobel {
  background-color: #4b77be;
  border: 1px solid #4b77be;
}

/*-------------*/
/*--- HOVER ---*/
/*-------------*/
.hovered:hover {
  background-color: rgba(17, 51, 167, 0.9);
  color: white;
  transform: scale(1.5,1.5);
  z-index: 1;
  position: relative;
  transition: 0.5s;
  border: none;
}

.greyed-out {
  background-color: rgba(149, 165, 166,0.8);
}

/*-------------*/
/*--- MODAL ---*/
/*-------------*/

#clickedElementHtml {
  border: 14px solid rgba(22, 160, 133,1.0);
  background-color: rgba(46,204,113, 0.4);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  font-weight: bold;
}

#myModalLabel {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*--------------*/
/*--- PLAYER ---*/
/*--------------*/

.player-one {
  width: 400px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  /*background-color: rgb(243, 156, 18);*/
  margin: 0 0 0 0;
  align-items: center;
  position: absolute;
  left: 300px;
  top: 0;
}

.player-two {
  text-align: center;
  border-radius: 5px;
  /*background-color: rgb(243, 156, 18);*/
  width: 400px;
  height: 50px;
  margin: 0 0 0 0;
  position: absolute;
  right: 300px;
  top: 0;
 }


.player-one h1,
.player-two h1 {
  text-decoration: none;
}

.player-one h1,
.player-one p,
.player-two h1,
.player-two p {
  text-decoration: none;
  font-size: 18px;
}

#scoreFirst,
#scoreSecond {
  font-size: 30px;
  margin-top: 5px;
  margin-left: 5px;
  padding-top: 3px;
  display: inline-block;
}

#firstPlayer p,
#secondPlayer p {
  margin-left: 8px;
  padding-top: 3px;
}
/*--------------*/
/*---- TEXT ----*/
/*--------------*/

.chem-logo {
  background-color: #eb685a;
  border: 1px solid #eb685a;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0;
  color: hsla(200,0%,0%,.7);
}

.player-two h1,
.player-one h1 {
  font-size: 30px;
}
